.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.posting .head {
  display: flex;
  min-height: 8vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.posting .head .links {
  flex: 3 auto;
  font-size: 1.5em;
  border-bottom: solid 1px #61dafb;
  padding: 10px;
}

.posting .head .date {
  flex: 2 auto;
}

.posting .head .info {
  flex: 2 auto;
}

.posting .description {
  min-height: 50vh;
  padding: 20px;
  text-align: left;
  line-height: 1.5em;
}

.posting .location {
  display: flex;
  min-height: 15vh;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.posting .location div {
  padding: 10px
}

.App-link {
  color: #61dafb;
}
