.controls, .charts {
    grid-template-columns: 50% 50%;
    justify-items: start;
    display: grid;
}

.admin-shell {
    width: 80vw;
}

.control input {
    margin-left: 20px;
}

.training-chart {
    padding: 20px;
}
